# IntelliJ - User specific stuff
**/.idea/
*.iml
*.iws
*.ipr

# Gradle specific stuff
**/.gradle/
**/build/

# Avoid ignoring Gradle wrapper jar file
!gradle-wrapper.jar

**/build/

# IntelliJ
**/out/

# Java specific stuff
*.class

# Logfile
*.log

# Package files
*.jar
*.zip
*.tar.gz
*.rar

# VisualParadigm specific stuff
**/*.bak_*

# Application specific stuff
**/src/main/resources/handBaggage/
